{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Django Miguel Zamora{% endblock %}</title>

    {#  STYLES  #}
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'app.css' %}">
    {% endblock %}

</head>
<body>

{# HEADER #}
<header>
    {# NAV #}

    <nav class="transparent black-text">
        <div class="nav-wrapper container">
            <a href="#" data-target="slide-out" class="sidenav-trigger black-text"><i
                    class="material-icons">menu</i></a>
            <h1 class="nav-title">DjangoBlog</h1>
        </div>
    </nav>
    {% include 'nav.html' %}
    {# TITLE #}
    <div class="container">
        <h3 class="title_pages">{% block content_header %}{% endblock %}</h3>
    </div>
</header>

{# MAIN CONTENT #}
<main class="container">
    {% if messages %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                {% for message in messages %}
                    M.toast({html: '{{ message }}'});
                {% endfor %}
            });
        </script>
    {% endif %}
    {% block content %}{% endblock %}
</main>

{# FOOTER #}
{% block footer %}
    <footer class="grey darken-4 white-text valign-wrapper">
        <div class="container">
            Django Pop. All rights reserved &copy; {% now 'Y' %}
        </div>
    </footer>
{% endblock %}

{# JAVASCRIPTS #}
{% block javascripts %}
    <script src="{% static 'materialize.min.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
{% endblock %}

</body>
</html>