body{
    font-size: 16px;
}

.window-height{
    min-height: 88vh;
}

footer{
    min-height: 10vh;
}

/* NAV */

nav a.sidenav-trigger{
    display: inline;
    margin: 0;
}

.title_pages {
    margin: 2rem 0 3rem 0;
}

nav .nav-title{
    margin: 0;
    padding:     0;
}

nav .nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-wrapper .nav-sign a{
    color: #000;
    padding: 0 .5rem;
}

nav .nav-wrapper .nav-sign a:hover {
    text-decoration: underline;
}

/* Sidenav */

.sidenav h4 {
    margin: 0;
    padding-bottom: 2rem;
}

/* UTILS */

.margin-b {
    margin-bottom: 2rem !important;
}